NPM_TOKEN=
GITLAB_TOKEN=

ORG_GRADLE_PROJECT_mavenCentralUsername=
ORG_GRADLE_PROJECT_mavenCentralPassword=

ORG_GRADLE_PROJECT_signingInMemoryKey=
ORG_GRADLE_PROJECT_signingInMemoryKeyPassword=

JRELEASER_GITHUB_TOKEN=